.appmain {
    margin: 20px;
    /* padding-left: 30px; */
}

.verticalnav {
    visibility: visible;
}

.card {
    padding: 30px;
    max-width: 360px;
    border-radius: 20px;
    margin: 60px auto;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

